body{
    /* text-align: center;
    width:100%; */
    /* margin: 0,auto; */
}

section{
    /* width: 500px; */
    /* margin: 0,auto; */
    
}

.disable{
    display:none;
}

/* #list li{
    width: 200px;
    justify-content: space-between;
    text-align: right;
} */